/*
 Theme Name:   PASS24 Child
 Theme URI:    https://pass24.online
 Description:  Дочерняя тема GeneratePress для сайта PASS24.online. Дизайн-система, типографика Inter, компоненты UI.
 Author:       PASS24
 Author URI:   https://pass24.online
 Template:     generatepress
 Version:      1.0.0
 Text Domain:  pass24-child
*/
